/*
	app.css
*/

#results table.defaultResultsFormatting {
	width: 100%;
	display: block;
	overflow: auto;
}

html {
	background: #eeeeee;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	padding-top: 60px;
	font-family: 'Nunito', sans-seri;
}

header {
	position: fixed;
	top: 0;
	background: #607d8b;
	padding-left: 20px;
	width: 100%;
	box-shadow: 1px 1px 1px #d7d7d7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding-right: 10px;
	z-index: 2;
}

header > a {
	color: white;
	text-decoration: none;
}

#queryBuilderContainer {
	padding: 10px;
}

header > h3,
header > span {
	color: white;
}

#queryFilters {
	display: block;
	background: white;
	padding: 20px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #efefef;
}

#queryBuilder label {
	z-index: 0;
}

.query-url {
	text-align: center;
	font-size: 1.5rem;
}

.query-url a {
	text-decoration: none;
	background: #e1f5fe;
	padding: 5px 10px !important;
	border-radius: 5px;
}

#queryBuilderForm .filterLabel {
	position: static;
	float: none;
}

#queryBuilderForm .filterContainer {
	padding-left: 0;
}

#queryButtons {
	background: white;
	padding: 10px;
	text-align: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 300px;
}

.endpoints-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.configuration {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background: #d53369;
	height: 100vh;
	z-index: 2;
	color: white;
	background: linear-gradient(to right, #607d8b, #e6e6e6);
}

#queryBuilder .addCondition {
	background: white;
	color: black;
	border: 1px solid #2196f3;
	border-radius: 50%;
	text-align: center;
	line-height: 23px;
	height: 23px;
	width: 23px;
	font-size: 25px;
}

#queryBuilder .removeCondition {
	background: white;
	color: black;
	border: 1px solid #2196f3;
	border-radius: 50%;
	text-align: center;
	line-height: 21px;
	height: 23px;
	width: 23px;
	font-size: 25px;
}

#results {
	margin-top: 10px;
	background: white;
	padding: 20px 10px;
	border-radius: 5px;
}

#results:empty {
	display: none;
}

#results table.defaultResultsFormatting th:empty {
	min-width: 10px;
}

#results table.defaultResultsFormatting th {
	background: #fafafa;
	color: black;
	font-family: Helvetica;
	font-weight: bold;
	padding: 5px !important;
	min-width: 160px;
}

#results tr {
	border-bottom: 1px solid #f5f5f5;
}


#urlLogs {
	display: none;
	margin-top: 10px;
	background: white;
	padding: 20px 10px;
	border-radius: 5px;
}

#urlLogs:empty {
	display: none;
}

#urlLogs table.logs th:empty {
	min-width: 10px;
}

#urlLogs table.logs th {
	background: #fafafa;
	color: black;
	font-family: Helvetica;
	font-weight: bold;
	padding: 5px !important;
	min-width: 160px;
}

#urlLogs tr {
	border-bottom: 1px solid #f5f5f5;
}

#urlLogs table.logs {
	width: 100%;
	display: block;
	overflow: auto;
	border-collapse: collapse;
}

#urlLogs table.logs th.left, 
#urlLogs table.logs td.left {
	width: 90%;
}


/* Styles for the results. */
#urlLogs {
    margin-top: 10px;
}

#urlLogs table.logs tbody tr:hover {
    background-color: #daecef;
}


#urlLogs table.logs th,
#urlLogs table.logs td {
    border: 0;
    padding: 2px 3px;
    text-align: left;
}




















#configuration h2.logo {
	margin: 100px;
}

.endpoints-form {
	width: 300px;
}

.endpoints-form input,
select {
	width: 100%;
}

#queryBuilder label {
	/* align-self: flex-start;*/
	font-weight: bold;
}

#queryBuilderContainer #login {
	width: 100%;
	margin: 0;
	font-size: 1rem;
	line-height: 2.5rem;
	height: auto;
	background: #009688;
}

#configuration h1.logo {
	margin: 100px;
}

button#close {
	margin: initial;
	position: absolute;
	right: 0;
	font-size: 0.7rem;
	background: black;
	color: white;
	/* width: 30px; */
	padding: 5px 10px;
	text-align: center;
	border-radius: 0px 0px 10px 10px;
	right: 2px;
	cursor: pointer;
	text-transform: lowercase;
}

.electron-in-page-search-window {
  position: fixed;
  top: 65px;
  right: 500px;
  border: solid grey 1px;
  background-color: white;
  width: 300px;
  height: 36px;
}

/*
 * .search-inactive is added to search window <webview> when the window
 * is inactive.
 */
.search-inactive {
  visibility: hidden;
}

/*
 * .search-inactive is added to search window <webview> when the window
 * is active.
 */
.search-active {
  visibility: visible;
}